* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 2rem;
    color: #fff;
}
main {
    background-color: #3C424A;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
section {
    background-color: #343A40;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);;
    width: 35%;
    height: 80%;
    padding: 1.5rem 2rem;
}
.containerForm h2 {
    text-align: center;
    margin-bottom: 10px;
}
form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form .boxInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .boxInputs label {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 0;
}
form .boxInputs input {
    background-color: #25292e;
    border: none;
    border-radius: 3px;
    color: #767a80;
    font-size: 0.9rem;
    padding: 8px 10px;
}
form .boxInputs input:focus {
    outline: none;
}
.btnSubmit {
    background-color: #767a80;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 5px;
    transition: 0.3s background-color;
}
.btnSubmit:hover {
    background-color: #36ff2f;
    color: #000;
}